body {
    font-family: 'Montserrat', sans-serif;
}
p h6 a{
    font-size: 15px;    
}
#main-body {
    background-color: #F2F2F8;          
}
#header {
    padding: 20px 0 20px 0;
    box-shadow: 0 0px 20px #adb3bd;
    background-color: #fff;    
}
#body{
    padding: 40px 0 80px 0;
}
#footer {
    padding: 40px 0 40px 0;
    background-color: #fff;
}
.search-field {
    padding: 30px 0 20px 0;    
}
.login-buttons {
    text-align: right;
    padding: 25px 0 20px 0;
}
.or-span {
    padding: 0 4px 0 4px;
    color: #7CCEA5;   
}
.signup-login {
    background: #24AE69;
    display: initial;
    padding: 10px 22px;
    border-radius: 3px;
    font-size: 15px;
}
.signup-login a{
    color: #fff;
}
.signup-login a:hover{
    color: #fff;
}
.join-text {
    padding: 20px 0 30px 0;
}
.join-text h3{
    color: #6A7C94;
    font-weight: 700;
    letter-spacing: 0.1px;
}
.join-text p{
    color: #6A7C94;
}
.footer-logo p{
    color: #6A7C94;
}
#footer-links {
    text-align: right;
}
#footer-links h6 {
    color: #B1BBC7;
    margin-bottom: 20px;
    font-size: 15px;    
}
#footer-links a {
    color: #6A7C94;
    font-size: 15px;    
}
#copyright-footer {
    border-top: 2px solid #F8F8FC;
    padding-top: 20px;
}
#copyright-footer p {
    font-size: 13px;
    color: #6A7C94;
}
#copyright-footer a {
    font-size: 12px;
    color: #6A7C94;
}
#footer-main-links {
    padding-bottom: 40px;
}
.footer-logo {
    padding-bottom: 10px;
}
.footer-logo img {
    width: 200px;    
}
.footer-main-text h5{
    color: #6A7C94; 
    font-size: 15px;    
}
.footer-main-text p {
    color: #6A7C94;
    font-size: 15px;    
}
.sign-in-up {
    background: #fff;
    display: inherit;
    padding: 20px;
    border-radius: 5px;
}
.sign-btn button {
    width: 100%;
    text-align: left;
}
.sign-btn {
    padding: 5px 0 5px 0;    
}
.or-tag {
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 0;
    font-size: 15px;    
}
.sign-in-up button {
    color: #6A7C94;
    text-decoration: none;
    font-size: 15px;
    background: #DEE0E6;   
}
.sign-in-up button:hover {
    color: #ffffff;
    text-decoration: none;
    background: #37b271;
    border-radius: 3px;
}
.body-form {
    background: #fff;
    display: inherit;
    padding: 20px 80px 20px 20px;
    border-radius: 5px;
}
.submit-area {
    background: #F8F8FB;
    padding: 10px 80px 10px 10px;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#facebook {
    background-image: url("../images/facebook.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-color: #3b5998;
    color: #fff;
    font-size: 15px;
    text-align: center;    
}
#twitter {
    background-image: url("../images/twitter.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-color: #1DA1F2;
    color: #fff;
    font-size: 15px;
    text-align: center;        
}
.submit-area button:hover {
    background: #61756b;
    color: #FFF;
    border: none;
    text-decoration: none;
}
.submit-area button {
    color: #B1BBC7;
    border: none;
    text-decoration: none;
    font-size: 15px;    
}
.form-group {
    padding: 10px 0 10px 0;
}
.form-group label {
    color: #B1BBC7;
}
.form-group input {
    background: #F2F2F8;
    border-radius: 4px;
    border: 0;
}
#emailHelp {
    color: #B1BBC7;    
}
.input-group-btn {
    padding: 0 15px 0 15px;
}
.input-group-btn button {
    border-radius: 0;
    background: #F2F2F8; 
    color: black;
    border: 1px solid #dee0e5;
    background-image: url("../images/Filter.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;    
}
.input-group-btn button:hover {
    background: #dee0e5;
    color: black;
    background-image: url("../images/Filter.svg");
    background-repeat: no-repeat;
    background-position: center;    
}
.search-field input {
    background: #F2F2F8;
    border: 0;
    border-radius: 3px;
}
.input-group input {
    background-image: url("../images/Search.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
    background-position: left 10px center;
    padding-left: 35px;
    border: 1px solid #dee0e5;    
}


/* HOME 02 Styles */
.top-login-btns a {
    text-decoration: none;
    padding: 0 8px 0 8px;
}
.top-login-btns a:hover {
    text-decoration: none;
}
.login-stack img{
    width: 34px;
}
.login-notification img{
    width: 34px;
}
.submit-area .btn-primary {
    background-color: #38b172;
    color: #fff;    
}
#btn-primary{
    background-color: #38b172;
    color: #fff;    
}
#btn-primary-light{
    background-color: #f2f2f9;
    color: #6a7c94;    
}
.invite-tag {
    color: #6d7c94;
    text-decoration: underline;
}
.invite-tag:hover {
    color: #38b172;
    text-decoration: underline;
}
.profile-title {
    color: #B1BBC7;
    margin-bottom: 0;
    font-size: 14px;
}
#replace-photo {
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    background: #6D7B92;
}
#replace-photo:hover {
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    background: #dee0e5;
}
#remove-photo {
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    background: #DEE0E6;
    float: right;
    margin-top: 6px;
}
#remove-photo:hover {
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    background: #6D7B92;
    float: right;
    margin-top: 6px;
}
.no-file-select {
    padding: 0 20px 0 20px;
    color: #6a7c94;    
}
button:hover {
    cursor: pointer;    
}
.account-title {
    font-weight: bold;
}
.main-logo img {
    width: 200px;
    padding-top: 20px;
}
#padding {
    border-radius: 2px;
}
#border-rad {
    border-radius: 2px;
    border: 1px solid #dee0e5;    
}
.copy-dec img{
    width: 10px;
    padding: 0 2px 0 2px;     
}