$footer-primary-color: #6A7C94;

#copyright-footer {
    border-top: 2px solid #F8F8FC;
    padding-top: 20px;
}
#copyright-footer p {
    font-size: 13px;
    color: $footer-primary-color
}
#copyright-footer a {
    font-size: 12px;
    color: $footer-primary-color;
}
.copy-dec img{
    width: 10px;
    padding: 0 2px 0 2px;     
}
