.body-form {
    background: #fff;
    display: inherit;
    padding: 20px;
    border-radius: 3px;
}
.form-group {
    padding: 10px 0 10px 0;
}
.form-group label {
    color: #B1BBC7;
}
.form-group input {
    background: #F2F2F8;
    border-radius: 4px;
    border: 0;
}
#emailHelp {
    color: #B1BBC7;    
}
.submit-area {
    background: #F8F8FB;
    padding: 10px;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.submit-area button:hover {
    background: #24AE69;
    color: #FFF;
    border: none;
    text-decoration: none;
}
.submit-area button {
    color: #B1BBC7;
    border: none;
    text-decoration: none;
    font-size: 15px;    
}
#btn-primary{
    background-color: #38b172;
    color: #fff;    
}
#btn-primary-light{
    background-color: #f2f2f9;
    color: #6a7c94;    
}
button:hover {
    cursor: pointer;    
}
.input-group-btn button:hover {
    background: #dee0e5;
    color: black;
    background-image: url(../images/Filter.svg);
    background-repeat: no-repeat;
    background-position: center;
}

